<%= @moodsaverage.round %>

<% if @moodsaverage == 1 %>
  <p>hallo</p>
<% elsif @moodsaverage == 2 %>  
  <p>buhh</p>
<% elsif @moodsaverage == 3 %> 
  <p>right</p>
<% elsif @moodsaverage == 4 %>
  <p>super</p>
<% else %>
  <p>top</p>
<% end %>




<br>
 <%= link_to "Add your mood!", new_mood_path(@mood), class: "main-btn", id: "new-btn" %>

