.login {
margin-left: 100px;
margin-right: 700px;
margin-top: 40px;
}

.btn {
    color: #0c0b0b;
    border: 1px solid #0c0b0b;
    padding: 2px 12px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    height: 30px;
    margin-bottom: 5px;
  }

  .container2 {
  background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/concrete-texture.png");
}